<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Right → Right 2 - OY旅団</title>

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="global-main">
      <div class="centering-support"></div>
      <div class="messages">
        <p>
          <img alt="Right is Right 2 logo" src="/image/logo.png" />
        </p>

        <p>頒布概要</p>

        <p>
          コミックマーケット C93 1日目 (12/29 金) <br />
          東地区“ケ”ブロック－22b
        </p>
      </div>
    </div>
    <footer class="global-footer">
      <div class="copyright">
        <i class="fa fa-copyright"></i> 2016-2017 OY Brigade.
      </div>
    </footer>
  </body>
</html>
