<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Right → Right 2 - OY旅団</title>

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="global-main">

    </div>
    <footer class="global-footer">
      <div class="copyright">
        <i class="fa fa-copyright"></i> 2016-2017 OY Brigade.
      </div>
    </footer>
  </body>
</html>
