<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Right → Right 2 - OY旅団</title>

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>

  </body>
</html>
