<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Right → Right 2 - OY旅団</title>

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

    <script src="/vendor/p5/p5.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div id="rir_sketch_wrapper"></div>

    <section class="section-how-to-play">
      <header class="section-header">
        <h2>遊び方</h2>
      </header>
      <article></article>
    </section>

    <section class="section-characters">
      <header class="section-header">
        <h2>キャラクター</h2>
      </header>
      <article></article>
    </section>

    <section class="section-distribution">
      <header class="section-header">
        <h2>頒布概要</h2>
      </header>
      <article>

        <ul class="fa-ul">
          <li><i class="fa-li fa fa-map-pin"></i> コミックマーケット 93 <br /> 東地区 "ケ" ブロック 22-b</li>
          <li><i class="fa-li fa fa-calendar"></i>2017/12/29 (金)</li>
          <li><i class="fa-li fa fa-user-circle"></i> サークル 「OY旅団」 / OY Brigade</li>
        </ul>

        <dl>
          <dt>Name</dt><dd>right → right 2</dd>
          <dt>Genre</dt><dd>右へ誘うアクションゲーム</dd>
          <dt>Platform</dt><dd>Microsoft Windows 7, 8.1, 10 + DirectX</dd>
          <dt>Price</dt><dd>&yen;200</dd>
        </dl>
      </article>
    </section>

    <section class="section-credit">
      <header class="section-header">
        <h2>Credit</h2>
      </header>
      <article>
        <dl>
          <dt>がんたん // illust</dt>
          <dd>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-twitter"></i> @guntankoba</li>
              <li><i class="fa-li fa fa-picture-o"></i> https://pixiv.me/guntankoba</li>
            </ul>
          </dd>

          <dt>くれいじー // illust</dt>
          <dd>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-twitter"></i> @crazy_life1122</li>
            </ul>
          </dd>

          <dt>パフーハ // program</dt>
          <dd>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-twitter"></i> @pafuuha</li>
            </ul>
          </dd>

          <dt>Nasubeing // trackmaking</dt>
          <dd>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-twitter"></i> @nasubeing</li>
              <li><i class="fa-li fa fa-soundcloud"></i> nasubeing</li>
            </ul>
          </dd>

          <dt>Yadex205 // web</dt>
          <dd>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-twitter"></i> @yadex205_vj</li>
              <li><i class="fa-li fa fa-globe"></i> http://www.yadex205.info</li>
            </ul>
          </dd>
        </dl>
      </article>
    </section>

    <footer class="global-footer">
      <div class="thanks">
        Contents on this page are powered by p5.js and <i class="fa fa-github"></i> iamdustan/smoothscroll.
      </div>
      <div class="copyright">
        <i class="fa fa-copyright"></i> OY Brigade.
      </div>
    </footer>
  </body>
</html>
